<a href="https://colab.research.google.com/github/MitziVite/machine_learning/blob/main/notebooks/module01-assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction
This assignment will test how well you're able to perform various data science-related tasks.

Each Problem Group below will center around a particular dataset that you have worked with before.

To ensure you receive full credit for a question, make sure you demonstrate the appropriate pandas, altair, or other commands as requested in the provided code blocks.

You may find that some questions require multiple steps to fully answer. Others require some mental arithmetic in addition to pandas commands. Use your best judgment.

## Submission
Each problem group asks a series of questions. This assignment consists of two submissions:

1. After completing the questions below, open the Module 01 Assessment Quiz in Canvas and enter your answers to these questions there.

2. After completing and submitting the quiz, save this Colab notebook as a GitHub Gist (You'll need to create a GitHub account for this), by selecting `Save a copy as a GitHub Gist` from the `File` menu above.

    In Canvas, open the Module 01 Assessment GitHub Gist assignment and paste the GitHub Gist URL for this notebook. Then submit that assignment.

## Problem Group 1

For the questions in this group, you'll work with the Netflix Movies Dataset found at this url: [https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/netflix_titles.csv](https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/netflix_titles.csv)

### Question 1
Load the dataset into a Pandas data frame and determine what data type is used to store the `release_year` feature.

In [20]:
import pandas as pd
csv_url = 'https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/netflix_titles.csv'
df = pd.read_csv(csv_url)
print(df.head())
# print(df.info)
print(df['release_year'].dtype)

    show_id     type                                    title  \
0  81145628    Movie  Norm of the North: King Sized Adventure
1  80117401    Movie               Jandino: Whatever it Takes
2  70234439  TV Show                       Transformers Prime
3  80058654  TV Show         Transformers: Robots in Disguise
4  80125979    Movie                             #realityhigh

                   director  \
0  Richard Finn, Tim Maltby
1                       NaN
2                       NaN
3                       NaN
4          Fernando Lebrija

                                                cast  \
0  Alan Marriott, Andrew Toth, Brian Dobson, Cole...
1                                   Jandino Asporaat
2  Peter Cullen, Sumalee Montano, Frank Welker, J...
3  Will Friedle, Darren Criss, Constance Zimmer, ...
4  Nesta Cooper, Kate Walsh, John Michael Higgins...

                                    country         date_added  release_year  \
0  United States, India, South Korea, China  September 9, 2019          2019
1                            United Kingdom  September 9, 2016          2016
2                             United States  September 8, 2018          2013
3                             United States  September 8, 2018          2016
4                             United States  September 8, 2017          2017

     rating  duration                           listed_in  \
0     TV-PG    90 min  Children & Family Movies, Comedies
1     TV-MA    94 min                     Stand-Up Comedy
2  TV-Y7-FV  1 Season                            Kids' TV
3     TV-Y7  1 Season                            Kids' TV
4     TV-14    99 min                            Comedies

                                         description
0  Before planning an awesome wedding for his gra...
1  Jandino Asporaat riffs on the challenges of ra...
2  With the help of three human allies, the Autob...
3  When a prison ship crash unleashes hundreds of...
4  When nerdy high schooler Dani finally attracts...
int64

### Question 2
Filter your dataset so it contains only `TV Shows`. How many of those TV Shows were rated `TV-Y7`?

In [4]:
tv_shows = df[df['type'] == 'TV Show']
count_y7 = tv_shows[tv_shows['rating'] == 'TV-Y7'].value_counts()
print(count_y7)

show_id   type     title                                    director            cast                                                                                                                                                                                                                                                                                                                      country                     date_added          release_year  rating  duration   listed_in                        description
70286808  TV Show  Oggy and the Cockroaches                 Olivier Jean-Marie  Don Michael Paul, Tony Sampson, Sam Vincent, Matt Hill, Greg Eagles, Peter Kelamis, Tara Strong, Rick Jones                                                                                                                                                                                                               France                      December 1, 2017    2017          TV-Y7   1 Season   Kids' TV, TV Comedies            Wimpy blue cat Oggy would like nothing more than to snooze, but he's constantly bothered by the three ugly cockroaches who have invaded his home.         1
80007778  TV Show  World of Winx                            Iginio Straffi      Haven Paschall, Alysha Deslorieux, Jessica Paquet, Eileen Stevens, Kate Bristol, Saskia Maarleveld, Brittany Pressley, Billy Bob Thompson, Marc Thompson, Suzy Myers, Jason Griffith, Samara Naeymi, Wayne Grayson, Alyson Leigh Rosenfeld, Abe Goldfarb, Lisa Flanagan                                                   Italy, United States         June 16, 2017      2017          TV-Y7   2 Seasons  Kids' TV                         The reality show "WOW!" engages the Winx in their mission, starting an undercover, worldly journey in order to make talented kids' dreams come true.      1
80144408  TV Show  Maggie & Bianca: Fashion Friends         Iginio Straffi      Emanuela Rei, Giorgia Boni, Sergio Ruggeri, Luca Murphy, Federica Corti, Federico Pedroni, Tiffany Zhou, Sergio Melone                                                                                                                                                                                                    Italy                       March 31, 2019      2017          TV-Y7   1 Season   Kids' TV, TV Comedies            Originally polar opposites, an American fashion student and the daughter of an industry mogul form an everlasting bond and start a rock band in Milan.    1
80164216  TV Show  Miraculous: Tales of Ladybug & Cat Noir  Thomas Astruc       Cristina Vee, Bryce Papenbrook, Keith Silverstein, Mela Lee, Max Mittelman, Carrie Keranen, Stephanie Sheh, AndrÃ© Gordon, Matthew Mercer, Christopher Corey Smith, Philece Sampler, Selah Victor, Marieve Herington, Ben Diskin, Kira Buckland, Erin Fitzgerald, Grant George, Ethan Murray, David Roach, Todd Haberkorn  France, South Korea, Japan   August 2, 2019     2018          TV-Y7   4 Seasons  Kids' TV, TV Action & Adventure  When Paris is in peril, Marinette becomes Ladybug. Little does she know, her school crush Adrien is actually Cat Noir, another city-saving superhero.     1
80170381  TV Show  Th Eena Meena Deeka Chase Comedy Show    Dheeraj Berry       Sanjay Keni, Priya Raina                                                                                                                                                                                                                                                                                                  India                       March 31, 2018      2015          TV-Y7   1 Season   Kids' TV, TV Comedies            A hungry fox and three resourceful, surprisingly formidable birds turn the animal kingdom on its head in this lively animated series.                     1
80175619  TV Show  Glitter Force Doki Doki                  Go Koga             Debi Derryberry, Cassandra Morris, Melissa Fahn, Stephanie Sheh, Erica Lindbeck, Kate Higgins, Cherami Leigh, Tara Sands, Bryce Papenbrook, Erica Mendez, Ray Chase, Carrie Keranen, Ben Diskin, Grant George, Kirk Thornton                                                                                              Japan                        November 10, 2017  2017          TV-Y7   2 Seasons  Anime Series, Kids' TV           Four girls summon their inner superheroes to defend Earth and the magical kingdom of Splendorius from King Mercenare and his minions.                     1
Name: count, dtype: int64

### Question 3
Further filter your dataset so it only contains TV Shows released between the years 2000 and 2009 inclusive. How many of *those* shows were rated `TV-Y7`?

In [5]:
years_realease = tv_shows[(tv_shows['release_year'] >= 2000) & (tv_shows['release_year']<= 2009)]
total_y7 = years_realease['rating'].value_counts()['TV-Y7']
# print(years_realease)
print(f'The total number of TV Shows realease from 2000 to 2009 reated as TV-Y7 are: {total_y7}')

The total number of TV Shows realease from 2000 to 2009 reated as TV-Y7 are: 4

## Problem Group 2

For the questions in this group, you'll work with the Cereal Dataset found at this url: [https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/cereal.csv](https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/cereal.csv)

### Question 4
After importing the dataset into a pandas data frame, determine the median amount of `protein` in cereal brands manufactured by Kelloggs. (`mfr` code "K")

In [6]:
cereal_csv = 'https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/cereal.csv'
cereal_df = pd.read_csv(cereal_csv)
mfr_kelloggs = cereal_df[cereal_df['mfr'] == 'K']
median_protein_kellogs = mfr_kelloggs['protein'].median()

print(cereal_df.head())
print(f'The median amount of protein in Kelloggs cereals is: {median_protein_kellogs}')

                        name mfr type  calories  protein  fat  sodium  fiber  \
0                  100% Bran   N    C        70        4    1     130   10.0
1          100% Natural Bran   Q    C       120        3    5      15    2.0
2                   All-Bran   K    C        70        4    1     260    9.0
3  All-Bran with Extra Fiber   K    C        50        4    0     140   14.0
4             Almond Delight   R    C       110        2    2     200    1.0

   carbo  sugars  potass  vitamins  shelf  weight  cups     rating
0    5.0       6     280        25      3     1.0  0.33  68.402973
1    8.0       8     135         0      3     1.0  1.00  33.983679
2    7.0       5     320        25      3     1.0  0.33  59.425505
3    8.0       0     330        25      3     1.0  0.50  93.704912
4   14.0       8      -1        25      3     1.0  0.75  34.384843
The median amount of protein in Kelloggs cereals is: 3.0

### Question 5
In order to comply with new government regulations, all cereals must now come with a "Healthiness" rating. This rating is calculated based on this formula:

    healthiness = (protein + fiber) / sugar

Create a new `healthiness` column populated with values based on the above formula.

Then, determine the median healthiness value for only General Mills cereals (`mfr` = "G"), rounded to two decimal places.

In [13]:
cereal_df['healthiness'] = (cereal_df['protein'] + cereal_df['fiber']) / cereal_df['sugars']
mfr_general_mills = cereal_df[cereal_df['mfr'] == 'G']
median_healthiness_general_mills = mfr_general_mills['healthiness'].median()
print(f'The median healthiness value for General Mills cereals is: {median_healthiness_general_mills:.2f}')

The median healthiness value for General Mills cereals is: 0.47

## Problem Group 3

For the questions in this group, you'll work with the Titanic Dataset found at this url: [https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/titanic.csv](https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/titanic.csv)

### Question 6

After loading the dataset into a pandas DataFrame, create a new column called `NameGroup` that contains the first letter of the passenger's surname in lower case.

Note that in the dataset, passenger's names are provided in the `Name` column and are listed as:

    Surname, Given names

For example, if a passenger's `Name` is `Braund, Mr. Owen Harris`, the `NameGroup` column should contain the value `b`.

Then count how many passengers have a `NameGroup` value of `k`.

In [39]:
titanic_csv = 'https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/titanic.csv'
titanic_df = pd.read_csv(titanic_csv)
titanic_df['NameGroup'] = titanic_df['Name'].str.split(',').str[0].str[0].str.lower()
find_letter = titanic_df[titanic_df['NameGroup'] == 'k']
count_letter = find_letter['NameGroup'].value_counts()
print(count_letter)

NameGroup
k    28
Name: count, dtype: int64